In [7]:
#10
f = open('popular-names.txt', 'r')
print(sum([1 for i in f]))

2780

In [9]:
#11
with open('popular-names.txt') as f:
    data_lines = f.read()
data_lines = data_lines.replace("	", " ")
with open('popular-names.txt',mode="w") as f:
    f.write(data_lines)

In [5]:
#12
col1 = []
col2 = []
with open('popular-names.txt') as f:
    data_lines = f.readlines()
    for line in data_lines:
        list = line.split()
        col1.append(list[0])
        col2.append(list[1])
with open('col1.txt','w',newline='\n') as f:
    f.write('\n'.join(col1))
with open('col2.txt','w',newline='\n') as f:
    f.write('\n'.join(col2))

In [11]:
#13
import re

col_marge = []
with open('col1.txt',newline='\n') as f:
    col1 = f.readlines()
    col1 = [re.sub('\n','',s) for s in col1]
with open('col2.txt',newline='\n') as f:
    col2 = f.readlines()
    col2 = [re.sub('\n','',s) for s in col2]
for i,j in zip(col1,col2):
    col_marge.append(i + '   ' + j)
with open('col_marge.txt','w',newline='\n') as f:
    f.write('\n'.join(col_marge))

In [32]:
#14
import pandas as pd

def head(n):
    with open('popular-names.txt') as f:
        datalines = f.readlines()
        datalines = [re.sub('\n','',s) for s in datalines]
        df = pd.DataFrame(data=datalines)
    print(df.head(n))

head(5)

                       0
0       Mary F 7065 1880
1       Anna F 2604 1880
2       Emma F 2003 1880
3  Elizabeth F 1939 1880
4     Minnie F 1746 1880

In [33]:
#15
import pandas as pd

def tail(n):
    with open('popular-names.txt') as f:
        datalines = f.readlines()
        datalines = [re.sub('\n','',s) for s in datalines]
        df = pd.DataFrame(data=datalines)
    print(df.tail(n))

tail(5)

                          0
2775  Benjamin M 13381 2018
2776    Elijah M 12886 2018
2777     Lucas M 12585 2018
2778     Mason M 12435 2018
2779     Logan M 12352 2018

In [66]:
#16
import pandas as pd

def split(n):
    with open('popular-names.txt') as f:
        datalines = f.readlines()
        datalines = [re.sub('\n','',s) for s in datalines]
        df = pd.DataFrame(data=datalines)
        for num in range(n):
            df1 = df[int(len(df)*num/n) : int(len(df)*(num+1)/n)]
            print(df1)

split(2)

                          0
0          Mary F 7065 1880
1          Anna F 2604 1880
2          Emma F 2003 1880
3     Elizabeth F 1939 1880
4        Minnie F 1746 1880
...                     ...
1385    Sandra F 30642 1949
1386     Nancy F 29246 1949
1387     Carol F 26783 1949
1388  Kathleen F 26354 1949
1389    Sharon F 25711 1949

[1390 rows x 1 columns]
                          0
1390     James M 86857 1949
1391    Robert M 83872 1949
1392      John M 81161 1949
1393   William M 61501 1949
1394   Michael M 60046 1949
...                     ...
2775  Benjamin M 13381 2018
2776    Elijah M 12886 2018
2777     Lucas M 12585 2018
2778     Mason M 12435 2018
2779     Logan M 12352 2018

[1390 rows x 1 columns]

In [105]:
#17
import re
col1=[]
with open('popular-names.txt') as f:
        datalines = f.readlines()
        datalines = [re.sub('\n','',s) for s in datalines]
        for line in data_lines:
                list = line.split()
                col1.append(list[0])
print(len(set(col1)))

136

In [121]:
#18
import pandas as pd
    
df = pd.read_table("popular-names.txt", sep=' ', names=['name', 'sex', 'number', 'year']) 
print(df.sort_values(by=['number'],ascending=False))

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]

In [127]:
#19
import pandas as pd
    
df = pd.read_table("popular-names.txt", sep=' ', names=['name', 'sex', 'number', 'year']) 
print(df['name'].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: name, Length: 136, dtype: int64